<!DOCTYPE html><html><head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{title}}</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/metismenu/metisMenu.min.css" rel="stylesheet"/>
    <link href="/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet"/>
    <link href="/css/sb-admin-2.css" rel="stylesheet"/>
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <!--[if IE]>
	<script>
        if( window.detachEvent ){
            var func = window.detachEvent ;
            window.detachEvent = function(){
                if(arguments.length === 0){
                    return ;
                }else if(arguments.length === 1){
                    if(arguments instanceof Object){
                        arguments["1"] = function(){
                            console.log("test");
                        }
                    }else{
                        arguments.push(function(){
                            console.log("test");
                        }); 
                    }
                }
                func(arguments[0],arguments[1]);
            }
        }
    </script>
<![endif]-->
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="/css/k-table.css" rel="stylesheet" type="text/css"/>
    <link href="/css/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/css/grid-checkbox.css" rel="stylesheet"/>
    <script src="/jquery/jquery.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand phone-show" onclick="javascript:history.go(-1);"></a>
                <a class="navbar-brand pc-show" href="index.html">{{title}} <span class="version">{{version}}</span></a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <template v-for="item in sidebar">
                            <li v-if="item.isleaf === true">
                                <a href="/{{item.id}}.html" id="menu-leaf-{{item.id}}">{{item.name}}</a>
                            </li>
                            <li v-else="">
                                <a href="#">{{item.name}}<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <template v-for="item2 in item.node">
                                        <li v-if="item2.isleaf === true">
                                            <a href="/{{item.id}}/{{item2.id}}.html" id="menu-leaf-{{item2.id}}">{{item2.name}}</a>
                                        </li>
                                        <li v-else="">
                                            <a href="#">{{item2.name}}<span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                <template v-for="item3 in item2.node">
                                                    <li v-if="{{item3.isleaf === true}}">
                                                        <a href="/{{item.id}}/{{item2.id}}/{{item3.id}}.html" id="menu-leaf-{{item3.id}}">{{item3.name}}</a>
                                                    </li>
                                                </template>
                    </ul>
                    </li>
                    </template>
                    </ul>
                    </li>
                    </template>
                    </ul>
                </div>
            </div>

            <div class="nav navbar-top-links navbar-right">
                <a href="javascript:void(0)">{{ username }} |</a>
                <a onclick="updateAdminPassword()">修改密码 |</a>
                <a onclick="logout()"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    会员数据表
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div style="text-align:right;">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addProxy">新增代理</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#resetPassword">重置密码</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#freeze">禁用</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#unfreeze">解禁</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addunionmaxcount" onclick="setProperty(&#39;addunionmaxcount&#39;)">修改工会数量</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#resetSharing" onclick="setProperty(&#39;resetSharing&#39;)">调整分成</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modify" onclick="setProperty(&#39;modify&#39;)">修改资料</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="proxy-data" style="width:100%;">
                        <thead>
                            <tr>
                                <th>代理ID</th>
                                <th>后台帐号</th>
                                <th>手机号码</th>
                                <th>微信号</th>
                                <th>工会数量</th>
                                <th>分成占比</th>
                                <th>当前状态</th>
                                <th>加入时间</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal fade" id="addProxy" tabindex="-1" role="dialog" aria-labelledby="addProxyLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">新增代理</h2>
                            </div>
                            <div class="modal-body">
                                <div class="form-group must has-error">
                                    <label>微信号:</label>
                                    <input type="text" class="form-control" name="wxaccount" placeholder="输入微信号,最长50位" onfocus="$(this).parent().removeClass(&#39;has-error&#39;);$(this).parent().removeClass(&#39;has-success&#39;);$(this).parent().children(&#39;.error-tip&#39;).removeClass(&#39;error-tip-show&#39;);" onblur="if(value.length&gt;50){$(this).parent().addClass(&#39;has-error&#39;);$(this).parent().children(&#39;.error-tip&#39;).addClass(&#39;error-tip-show&#39;);} else{$(this).parent().addClass(&#39;has-success&#39;);}checkStatus(&#39;addProxy&#39;);"/>
                                    <p class="error-tip">输入微信号,最长50位</p>
                                </div>
                                <div class="form-group must has-error">
                                    <label>手机号码:</label>
                                    <input type="number" class="form-control" name="phone" placeholder="输入 11 位手机号码" onfocus="$(this).parent().removeClass(&#39;has-error&#39;);$(this).parent().removeClass(&#39;has-success&#39;);$(this).parent().children(&#39;.error-tip&#39;).removeClass(&#39;error-tip-show&#39;);" onblur="if(!/^\d{11}$/.test(value)){$(this).parent().addClass(&#39;has-error&#39;);$(this).parent().children(&#39;.error-tip&#39;).addClass(&#39;error-tip-show&#39;);} else{$(this).parent().addClass(&#39;has-success&#39;);}checkStatus(&#39;addProxy&#39;);"/>
                                    <p class="error-tip">输入 11 位手机号码</p>
                                </div>
                                <div class="form-group must">
                                    <label>工会数量:</label>
                                    <input type="number" class="form-control" name="unionmaxcount" value="1" placeholder="创建工会数量,最大 999,最小 1" onfocus="$(this).parent().removeClass(&#39;has-error&#39;);$(this).parent().removeClass(&#39;has-success&#39;);$(this).parent().children(&#39;.error-tip&#39;).removeClass(&#39;error-tip-show&#39;);" onblur="if(parseInt(value) &gt; 999 || parseInt(value) &lt;= 0){$(this).parent().addClass(&#39;has-error&#39;);$(this).parent().children(&#39;.error-tip&#39;).addClass(&#39;error-tip-show&#39;);} else{$(this).parent().addClass(&#39;has-success&#39;);}checkStatus(&#39;addProxy&#39;);"/>
                                    <p class="error-tip">创建工会数量,最大 999,最小 1</p>
                                </div>
                                <div class="form-group must">
                                    <label>分成占比:</label>
                                    <input type="number" class="form-control" name="sharingrate" value="1" placeholder="分成占比 0 ~ 100 之间" onfocus="$(this).parent().removeClass(&#39;has-error&#39;);$(this).parent().removeClass(&#39;has-success&#39;);$(this).parent().children(&#39;.error-tip&#39;).removeClass(&#39;error-tip-show&#39;);" onblur="if(parseInt(value) &gt; 100 || parseInt(value) &lt;= 0){$(this).parent().addClass(&#39;has-error&#39;);$(this).parent().children(&#39;.error-tip&#39;).addClass(&#39;error-tip-show&#39;);} else{$(this).parent().addClass(&#39;has-success&#39;);}checkStatus(&#39;addProxy&#39;);"/>
                                    <p class="error-tip">分成占比 0 ~ 100 之间</p>
                                </div>
                                <div class="form-group">
                                    <label>备注信息:</label>
                                    <textarea class="form-control" name="remark" rows="3" placeholder="输入备注信息,最多 200 字" onblur="if(value.length&gt;200){value=value.substr(0,200);}"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="addProxy-submit" onclick="modalSubmit(&#39;addProxy&#39;,true)" disabled="">保存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="resetPasswordLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">重置密码</h2>
                            </div>
                            <div class="modal-body">
                                <h3>是否重置该代理后台登录密码？</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="resetPassword-submit" onclick="modalSubmit(&#39;resetPassword&#39;)">确定</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="freeze" tabindex="-1" role="dialog" aria-labelledby="freezeLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">禁用</h2>
                            </div>
                            <div class="modal-body" style="text-align: center;">
                                <h3>是否禁用该代理账号？</h3>
                                <h3>（禁用后，该账户无法登录管理后台）</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="freeze-submit" onclick="modalSubmit(&#39;freeze&#39;)">确定</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="unfreeze" tabindex="-1" role="dialog" aria-labelledby="unfreezeLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">解禁</h2>
                            </div>
                            <div class="modal-body" style="text-align: center;">
                                <h3>是否解禁该代理账号？</h3>
                                <h3>（解禁后该账户即可正常登录管理后台）</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="unfreeze-submit" onclick="modalSubmit(&#39;unfreeze&#39;)">确定</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="addunionmaxcount" tabindex="-1" role="dialog" aria-labelledby="addunionmaxcountLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">增加工会</h2>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>当前工会数量:</label>
                                    <input type="number" class="form-control" name="unionmaxcount" disabled=""/>
                                </div>
                                <div class="form-group">
                                    <label>新增公会数量:</label>
                                    <input type="number" class="form-control" name="addunionmaxcount"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="addunionmaxcount-submit" onclick="modalSubmit(&#39;addunionmaxcount&#39;)">确定</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="resetSharing" tabindex="-1" role="dialog" aria-labelledby="resetSharingLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">调整分成</h2>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>当前分成比例:</label>
                                    <input type="number" class="form-control" name="sharingrate" disabled=""/>
                                </div>
                                <div class="form-group">
                                    <label>调整分成比例:</label>
                                    <input type="number" class="form-control" name="newsharingrate"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="resetSharing-submit" onclick="modalSubmit(&#39;resetSharing&#39;)">确定</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">修改资料</h2>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>微信号:</label>
                                    <input type="text" class="form-control" name="wxaccount"/>
                                </div>
                                <div class="form-group">
                                    <label>手机号码:</label>
                                    <input type="number" class="form-control" name="phone"/>
                                </div>
                                <div class="form-group">
                                    <label>备注信息:</label>
                                    <textarea class="form-control" name="remark" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="modify-submit" onclick="modalSubmit(&#39;modify&#39;)">保存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>

            <div class="panel panel-green">
                <div class="panel-heading">
                    数据透视图
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#proxydetail" data-toggle="tab" onclick="tabToggle(&#39;proxydetail&#39;)">代理详情</a>
                        </li>
                        <li class=""><a href="#cardcost" data-toggle="tab" onclick="tabToggle(&#39;cardcost&#39;)">房卡消耗</a>
                        </li>
                        <li><a href="#cardcharge" data-toggle="tab" onclick="tabToggle(&#39;cardcharge&#39;)">房卡充值</a>
                        </li>
                        <li><a href="#newplayer" data-toggle="tab" onclick="tabToggle(&#39;newplayer&#39;)">新增玩家</a>
                        </li>
                        <li><a href="#activeplayer" data-toggle="tab" onclick="tabToggle(&#39;activeplayer&#39;)">活跃玩家</a>
                        </li>
                        <li><a href="#personalintests" data-toggle="tab" onclick="tabToggle(&#39;personalintests&#39;)">个人利益</a>
                        </li>
                        <li><a href="#loginiprecord" data-toggle="tab" onclick="tabToggle(&#39;loginiprecord&#39;)">登录IP记录</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" style="min-height:350px;">
                        <div class="tab-pane fade in active" id="proxydetail" style="padding-top: 20px;">
                            <div class="form-group col-sm-6" style="padding-left: 15px;">
                                <label style="float: left;margin-right: 5px;">玩家总数:</label>
                                <input type="number" style="width:50%;" class="form-control" disabled="" name="playercount"/>
                            </div>
                            <div class="form-group col-sm-6" style="padding-left: 15px;">
                                <label style="float: left;margin-right: 5px;">已用工会:</label>
                                <input type="number" style="width:50%;" class="form-control" disabled="" name="unioncount"/>
                            </div>
                            <div class="form-group col-sm-6" style="padding-left: 15px;">
                                <label style="float: left;margin-right: 5px;">    总充值:</label>
                                <input type="number" style="width:50%;" class="form-control" disabled="" name="totalcharge"/>
                            </div>
                            <div class="form-group col-sm-6" style="padding-left: 15px;">
                                <label style="float: left;margin-right: 5px;">    总消耗:</label>
                                <input type="number" style="width:50%;" class="form-control" disabled="" name="totalused"/>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="cardcost">
                            <div style="margin-top:5px;padding:2px" id="datetime-cardcost">
                                <span>时间范围:</span>
                                <input type="date" name="from"/>
                                <input type="date" name="to"/>
                                <button onclick="loadData(&#39;cardcost&#39;)">刷新</button>
                            </div>
                            <canvas id="graphs-cardcost" height="300" width="800" style="width: 100%; height: 300px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="cardcharge">
                            <div style="margin-top:5px;padding:2px" id="datetime-cardcharge">
                                <span>时间范围:</span>
                                <input type="date" name="from"/>
                                <input type="date" name="to"/>
                                <button onclick="loadData(&#39;cardcharge&#39;)">刷新</button>
                            </div>
                            <canvas id="graphs-cardcharge" height="300" width="800" style="width: 100%; height: 300px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="newplayer">
                            <div style="margin-top:5px;padding:2px" id="datetime-newplayer">
                                <span>时间范围:</span>
                                <input type="date" name="from"/>
                                <input type="date" name="to"/>
                                <button onclick="loadData(&#39;newplayer&#39;)">刷新</button>
                            </div>
                            <canvas id="graphs-newplayer" height="300" width="800" style="width: 100%; height: 300px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="activeplayer">
                            <div style="margin-top:5px;padding:2px" id="datetime-activeplayer">
                                <span>时间范围:</span>
                                <input type="date" name="from"/>
                                <input type="date" name="to"/>
                                <button onclick="loadData(&#39;activeplayer&#39;)">刷新</button>
                            </div>
                            <canvas id="graphs-activeplayer" height="300" width="800" style="width: 100%; height: 300px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="personalintests">
                            <div style="margin-top:5px;padding:2px" id="datetime-personalintests">
                                <span>时间范围:</span>
                                <input type="date" name="from"/>
                                <input type="date" name="to"/>
                                <button onclick="loadData(&#39;personalintests&#39;)">刷新</button>
                            </div>
                            <canvas id="graphs-personalintests" height="300" width="800" style="width: 100%; height: 300px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="loginiprecord">
                            <table class="table table-striped table-bordered table-hover" id="table-loginiprecord">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <th>登录IP</th>
                                        <th>地址</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
            <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
            <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>
            <script src="/js/proxymanager/table.js"></script>
            <script src="/js/proxymanager/button.js"></script>
            <script src="/js/echarts.min.js"></script>
        </div>
        <div class="modal fade" id="updatepassword" tabindex="-1" role="dialog" aria-labelledby="updatepasswordLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title">修改密码</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="padding-left: 15px;">
                            <label>原始密码:</label>
                            <input type="srcpassword" class="form-control" name="srcpassword" maxlength="18" minlength="6" required=""/>
                        </div>
                        <div class="form-group" style="padding-left: 15px;">
                            <label>新的密码(密码长度在6~18位):</label>
                            <input type="password" class="form-control" name="password" maxlength="18" minlength="6" required=""/>
                        </div>
                        <div class="form-group" style="padding-left: 15px;">
                            <label>确认密码:</label>
                            <input type="password" class="form-control" name="password2" maxlength="18" minlength="6" required=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="updatepassword-submit" onclick="updatepassword()">保存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/browser.js"></script>
    <script type="text/javascript" src="/js/moment-2.2.1.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script src="/config/config.js" nomerge="nomerge"></script>
    <script src="/js/jquery-extent.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/metismenu/metisMenu.min.js"></script>
    <script src="/js/load.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/config/data-config.js"></script>
    <script src="/js/uuid.js"></script>
    <script src="/js/format.min.js"></script>
    <script src="/js/k-select.js"></script>
    <script src="/js/k-singleselect-buttons.js"></script>
    <script src="/js/inline-muti-checkbox.js"></script>
    <script src="/js/grid-checkbox.js"></script>
    <script src="/js/default-value-set.js"></script>
    <script src="/js/save-config.js"></script>
    <script src="/js/submit-data.js"></script>
    <script src="/js/status-notice.js"></script>
    <script>
        function fail(code, message) {
            if (code === 10101) {
                location.href = "/login.html";
                return;
            }
            alert("code:" + code + ",err:" + message);
        }

        function logout() {
            $.post("/logout", function(result, status, obj) {
                location.href = "/login.html";
            });
        }

        function updateAdminPassword() {
            $("#updatepassword").modal("show");
        }

        function updatepassword() {
            var data = $("#updatepassword").getFormData();

            if (data.password.length < 6 || data.password.length > 18) {
                alert("密码长度在 6 ~ 18 之间");
                return;
            }

            if (data.password !== data.password2) {
                alert("2次密码不相同");
                return;
            }

            if (data.password === data.srcpassword) {
                alert("原始密码和新密码不能相同");
                return;
            }
            var param = {
                data: data
            };
            $.post("/submitData/updateSelfPassword", param, function(result, status, obj) {
                if (status === "success") {
                    if (result.code !== 0) {
                        fail(result.code, result.message);
                        return;
                    }
                    $("#updatepassword").modal("hide");
                } else {
                    fail(-1, "服务异常");
                }
            });
        }
    </script>


</body></html>