<!DOCTYPE html><html><head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{title}}</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/metismenu/metisMenu.min.css" rel="stylesheet"/>
    <link href="/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet"/>
    <link href="/css/sb-admin-2.css" rel="stylesheet"/>
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <!--[if IE]>
	<script>
        if( window.detachEvent ){
            var func = window.detachEvent ;
            window.detachEvent = function(){
                if(arguments.length === 0){
                    return ;
                }else if(arguments.length === 1){
                    if(arguments instanceof Object){
                        arguments["1"] = function(){
                            console.log("test");
                        }
                    }else{
                        arguments.push(function(){
                            console.log("test");
                        }); 
                    }
                }
                func(arguments[0],arguments[1]);
            }
        }
    </script>
<![endif]-->
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="/css/k-table.css" rel="stylesheet" type="text/css"/>
    <link href="/css/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/css/grid-checkbox.css" rel="stylesheet"/>
    <script src="/jquery/jquery.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand phone-show" onclick="javascript:history.go(-1);"></a>
                <a class="navbar-brand pc-show" href="index.html">{{title}} <span class="version">{{version}}</span></a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <template v-for="item in sidebar">
                            <li v-if="item.isleaf === true">
                                <a href="/{{item.id}}.html" id="menu-leaf-{{item.id}}">{{item.name}}</a>
                            </li>
                            <li v-else="">
                                <a href="#">{{item.name}}<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <template v-for="item2 in item.node">
                                        <li v-if="item2.isleaf === true">
                                            <a href="/{{item.id}}/{{item2.id}}.html" id="menu-leaf-{{item2.id}}">{{item2.name}}</a>
                                        </li>
                                        <li v-else="">
                                            <a href="#">{{item2.name}}<span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                <template v-for="item3 in item2.node">
                                                    <li v-if="{{item3.isleaf === true}}">
                                                        <a href="/{{item.id}}/{{item2.id}}/{{item3.id}}.html" id="menu-leaf-{{item3.id}}">{{item3.name}}</a>
                                                    </li>
                                                </template>
                    </ul>
                    </li>
                    </template>
                    </ul>
                    </li>
                    </template>
                    </ul>
                </div>
            </div>

            <div class="nav navbar-top-links navbar-right">
                <a href="javascript:void(0)">{{ username }} |</a>
                <a onclick="updateAdminPassword()">修改密码 |</a>
                <a onclick="logout()"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    订单列表
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="min-height:300px;">
                    <div style="display:inline-block;width:100%;" id="query-cond">
                        <div id="datetime-chargerecord" class="k-group form-group col-sm-5" name="time">
                            <label>时间范围:</label>
                            <input type="datetime-local" name="from"/>
                            <input type="datetime-local" name="to"/>
                        </div>
                        <div class="k-option col-sm-3" name="shopinfo" label="充值商品"></div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary" onclick="loadData()">刷新</button>
                        </div>
                    </div>
                    <hr/>
                    <table class="table table-striped table-bordered table-hover" id="table-chargerecord" style="width:100%;">
                        <thead>
                            <tr>
                                <th>补单时间</th>
                                <th>操作员</th>
                                <th>玩家ID</th>
                                <th>商品ID</th>
                                <th>商品名称</th>
                                <th>补单原因</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
                <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
                <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>
                <script src="/js/issuerecord/table.js" defer="defer"></script>
            </div>
        </div>
        <div class="modal fade" id="updatepassword" tabindex="-1" role="dialog" aria-labelledby="updatepasswordLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title">修改密码</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="padding-left: 15px;">
                            <label>原始密码:</label>
                            <input type="srcpassword" class="form-control" name="srcpassword" maxlength="18" minlength="6" required=""/>
                        </div>
                        <div class="form-group" style="padding-left: 15px;">
                            <label>新的密码(密码长度在6~18位):</label>
                            <input type="password" class="form-control" name="password" maxlength="18" minlength="6" required=""/>
                        </div>
                        <div class="form-group" style="padding-left: 15px;">
                            <label>确认密码:</label>
                            <input type="password" class="form-control" name="password2" maxlength="18" minlength="6" required=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="updatepassword-submit" onclick="updatepassword()">保存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/browser.js"></script>
    <script type="text/javascript" src="/js/moment-2.2.1.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script src="/config/config.js" nomerge="nomerge"></script>
    <script src="/js/jquery-extent.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/metismenu/metisMenu.min.js"></script>
    <script src="/js/load.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/config/data-config.js"></script>
    <script src="/js/uuid.js"></script>
    <script src="/js/format.min.js"></script>
    <script src="/js/k-select.js"></script>
    <script src="/js/k-singleselect-buttons.js"></script>
    <script src="/js/inline-muti-checkbox.js"></script>
    <script src="/js/grid-checkbox.js"></script>
    <script src="/js/default-value-set.js"></script>
    <script src="/js/save-config.js"></script>
    <script src="/js/submit-data.js"></script>
    <script src="/js/status-notice.js"></script>
    <script>
        function fail(code, message) {
            if (code === 10101) {
                location.href = "/login.html";
                return;
            }
            alert("code:" + code + ",err:" + message);
        }

        function logout() {
            $.post("/logout", function(result, status, obj) {
                location.href = "/login.html";
            });
        }

        function updateAdminPassword() {
            $("#updatepassword").modal("show");
        }

        function updatepassword() {
            var data = $("#updatepassword").getFormData();

            if (data.password.length < 6 || data.password.length > 18) {
                alert("密码长度在 6 ~ 18 之间");
                return;
            }

            if (data.password !== data.password2) {
                alert("2次密码不相同");
                return;
            }

            if (data.password === data.srcpassword) {
                alert("原始密码和新密码不能相同");
                return;
            }
            var param = {
                data: data
            };
            $.post("/submitData/updateSelfPassword", param, function(result, status, obj) {
                if (status === "success") {
                    if (result.code !== 0) {
                        fail(result.code, result.message);
                        return;
                    }
                    $("#updatepassword").modal("hide");
                } else {
                    fail(-1, "服务异常");
                }
            });
        }
    </script>


</body></html>